.tbody
{
	padding: 70px 0px 40px 0px;
}
.tbody h2
{
	font-size: 45px;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	color: #052c3f;
	line-height: 60px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.tbody h4
{
font-weight: 700;
line-height: 32px;
font-size: 24px;
color: #4d8090;

}

.tbody p
{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #444444;
}

.tbody ul 
{
	list-style: none;
	li{
		i{
			color: #85b0be;
			top: 7px;
			left: 0;
			font-size: 20px;
		}
	}
}